HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Database ###
/db/NoPornISwear.trace.db
/db/NoPornISwear.mv.db
/db/PresentationBackup-NoPornISwear.mv.db
/logfile
/logfile
/documentation-latex/chapter/Installation.aux
/documentation-latex/chapter/Quellenverzeichnis.aux
/documentation-latex/Thesis.acn
/documentation-latex/Thesis.aux
/documentation-latex/Thesis.bbl
/documentation-latex/Thesis.bcf
/documentation-latex/Thesis.blg
/documentation-latex/Thesis.lof
/documentation-latex/Thesis.log
/documentation-latex/Thesis.lol
/documentation-latex/Thesis.lot
/documentation-latex/Thesis.maf
/documentation-latex/Thesis.mtc0
/documentation-latex/Thesis.out
/documentation-latex/Thesis.run.xml
/documentation-latex/Thesis.synctex.gz
/documentation-latex/Thesis.toc
