body {
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-createIdea {
    max-width: 50%;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-heading {
    text-align: center;
    padding: 15px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

/* Login pic width fix */
h2 img {
    width: 100%;
}

/*BOOTSTRAP CHANGE OMFG HOW DARE HE CHANGE THIS PERFECT TEMPLATE :OOOO */
nav a img {
    filter: grayscale() invert();
}

th {
    white-space: nowrap;
}

.my-custom-scrollbar {
    position: relative;
    max-height: 40vh;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.caption {
    caption-side: top;
    margin-left: 0.5rem;
}

.dblFontSize {
    font-size: 2rem;
}

.only-show-on-table-cell-hover {
    opacity: 0;
    transition: opacity 0.25s linear;
}

/*CSS FIXES FOR SELECT2 FIELDS*/

.form-group.row {
    margin: 0px 0px 1rem;
}

.select2-container {
    width: 100% !important;
}

/*CSS FIXES FOR ADMIN ACCORDION*/

#accordion .card-header .btn.btn-link:before {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

#accordion .card-header .btn.btn-link.collapsed:before {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    transform: rotate(-90deg);
}

/*Footer padding*/
.float-left {
    float: left !important;
    padding-bottom: 8px;
    padding-left: 15px;
}

.float-right {
    float: right !important;
    padding-bottom: 8px;
    padding-right: 15px;
}

.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}
