<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title>Einloggen</title>
    <link rel="stylesheet" th:href="@{../css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" type="text/css"/>
</head>

<div th:replace="pageParts/navbar :: navbar"></div>

<body>
<div class="container">
    <form action="#" class="form-signin" method="POST" th:action="@{/login}">

        <h2 class="form-heading">
            <img th:class="img-responsive" th:src="@{../images/logo.png}"/>
            Digitaler Briefkasten
        </h2>
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Ungültiger Benutzername oder Passwort.
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" id="username" name="username" placeholder="Benutzername" required="required"
                   type="text">
        </div>
        <div class="form-group">
            <input class="form-control" id="password" name="password" placeholder="Passwort" required="required"
                   type="password">
        </div>
        <div class="form-group">
            <button class="btn btn-dark btn-block" type="submit">Einloggen</button>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary btn-block" onclick="window.location.href='/registration'"
                    type="button"><a>Registrieren</a></button>
        </div>
    </form>
</div>

<div th:replace="pageParts/footer :: footer"></div>

<script th:src="@{../js/jquery.js}" type="text/javascript"></script>
<script th:src="@{../js/bootstrap.min.js}" type="text/javascript"></script>

</body>
</html>