<!--Autor: PR-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title>Kontaktformular</title>
    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/js/fontawesome.js}" type="text/javascript"></script>
</head>

<body>
<div th:replace="pageParts/navbar :: navbar"></div>
<div th:replace="pageParts/backButton :: back-button"></div>
<main class="container">
    <form method="post" th:action="@{/contact/answered/} + ${contactMessage.getId()}" th:object="${contactMessage}">
        <h2 class="form-heading">Kontaktformular</h2>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2"
                   for="title">Titel</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" readonly th:field="*{title}" type="text">
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2"
                   for="message">Nachricht</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                    <textarea class="form-control" placeholder="Ihre Nachricht"
                              readonly th:field="*{message}">
                    </textarea>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2"
                   for="emailAddress">Ihre E-Mail Adresse</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" readonly th:field="*{emailAddress}" type="text">
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2"
                   for="user">Benutzer</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" readonly th:id="user" th:name="user"
                       th:value="*{user?.getFullName()}" type="text">
            </div>
        </div>

        <button class="btn btn-dark btn-block" type="submit">Kontakt-Nachricht als beantwortet setzen</button>
    </form>
</main>


<div th:replace="pageParts/footer :: footer"></div>

<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>

</body>

</html>