<!--Autor: JF-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title>Error Occurred</title>

    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/js/fontawesome.js}" type="text/javascript"></script>
</head>

<div th:replace="pageParts/navbar :: navbar"></div>
<th:block th:replace="pageParts/backButton :: back-button"></th:block>

<section class="jumbotron text-center">
    <div class="container">
        <p class="lead text-muted">
            OOPS!<br>
            <th:span th:text="${message}"></th:span>
            <th:span th:text="${exception.getMessage()}"></th:span>

            <!--<th:block th:unless="${error instanceof T(de.fhdw.geiletypengmbh.digitalerbriefkasten.exceptions.InternalException)}">
                <span>Ein interner Fehler ist aufgetreten. Bitte kontaktieren Sie Ihren Administrator.</span>
            </th:block>-->

            <!--            TODO ASSURE ONLY OWN EXCEPTIONS ARE THROWN-->
        </p>
    </div>
</section>

<div class="container">
    <button class="btn btn-dark btn-block" onclick="history.back()">Zurück gehen</button>
</div>

<div th:replace="pageParts/footer :: footer"></div>

<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>