<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<head>
    <title th:text="${idea.getTitle()}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body class="container">
<h3 th:utext="${idea.getTitle()}"></h3>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">description</th>
        <th scope="col">creator</th>
        <th scope="col">creation date</th>
        <th scope="col">status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" th:utext="${idea.getId()}"></th>
        <th th:utext="${idea.getTitle()}"></th>
        <td th:utext="${idea.getDescription()}"></td>
        <td th:utext="${idea.getCreator().getUsername()}"></td>
        <td th:utext="${idea.getCreationDate()}"></td>
        <td th:utext="${idea.getStatus()}"></td>
    </tr>
    </tbody>
</table>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>