<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title th:text="${idea.getTitle()}"></title>

    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>

</head>
<body class="container">
<h3 th:utext="${idea.getTitle()}"></h3>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">description</th>
        <th scope="col">creator</th>
        <th scope="col">creation date</th>
        <th scope="col">status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" th:utext="${idea.getId()}"></th>
        <th th:utext="${idea.getTitle()}"></th>
        <td th:utext="${idea.getDescription()}"></td>
        <td th:utext="${idea.getCreator().getUsername()}"></td>
        <td th:utext="${idea.getCreationDate()}"></td>
        <td th:utext="${idea.getStatus()}"></td>
    </tr>
    </tbody>
</table>

<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>

</body>
</html>