<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title>Log in with your account</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container">
    <form method="POST" action="#" th:action="@{/login}" class="form-signin">

        <h2 class="form-heading">
            <img th:class="img-responsive" th:src="@{/images/logo.png}"/>
            Digitaler Briefkasten
        </h2>

        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Invalid username or password.
            </div>
        </div>

        <div class="form-group">
            <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                   required="required">
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <h4 class="text-center"><a href="/registration">Create an account</a></h4>

    </form>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>