<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title>Create an account</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>

<body>

<div class="container">
    <!--        TODO FUNCTIONALITY IS NOT WORKING NEEDS TO BE FIXED-->
    <form class="form-signin" action="#" th:action="@{/registration}" th:object="${userForm}" method="POST"
          enctype="utf8">
        <div>
            <label class="form-heading">username</label>
            <input class="form-control" th:field="*{username}"/>
            <!--            <p th:each="error: ${#fields.errors('username')}"-->
            <!--               th:text="${error}">Validation error</p>-->
        </div>
        <div>
            <label class="form-heading"></label>password</label>
            <input class="form-control" type="password" th:field="*{password}"/>
            <!--            <p th:each="error : ${#fields.errors('password')}"-->
            <!--               th:text="${error}">Validation error</p>-->
        </div>
        <div>
            <label class="form-heading">confirm</label>
            <input class="form-control" type="password" th:field="*{passwordConfirmation}"/>
        </div>
        <button class="btn btn-primary btn-block" type="submit">submit</button>
    </form>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>