<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title>Create an account</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>

<body>

<div class="container">
    <form class="form-signin" th:action="@{/registration}" method="POST" enctype="utf8">

        <h2 class="form-heading">
            <img th:class="img-responsive" th:src="@{/images/logo.png}"/>
            Digitaler Briefkasten
        </h2>

        <!--<div th:if="${#fields.hasErrors('userForm.username')}" >
            <div class="alert alert-danger">
                Duplicate Username!<br>
                &lt;!&ndash;TODO ADD ERROR FOR DUPLICATE USERNAME&ndash;&gt;
            </div>
        </div>-->

        <div th:if="${#fields.hasErrors('userForm.username')}">
            <div class="alert alert-danger">
                Username is empty or too short.<br>
                (Should be at least 4 characters long.)
            </div>
        </div>

        <div th:if="${#fields.hasErrors('userForm.password')}">
            <div class="alert alert-danger">
                Password is too short.<br>
                (Should be at least 3 characters.)
            </div>
        </div>

        <div th:if="${#fields.hasErrors('userForm.passwordConfirmation')}">
            <div class="alert alert-danger">
                Passwords do not match.
            </div>
        </div>


        <div class="form-group">
            <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                   required="required">
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="required">
        </div>
        <div class="form-group">
            <input type="password" id="passwordConfirmation" name="passwordConfirmation" class="form-control"
                   placeholder="Password Confirmation"
                   required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
    </form>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>