<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title>User Details</title>

    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
</head>

<div th:replace="pageParts/navbar :: navbar"></div>

<section class="jumbotron text-center">
    <div class="container">
        <!--        TODO ADD USER INFO / SETTINGS HERE-->
        <p class="lead text-muted">USERINFOS</p>
    </div>
</section>

<div th:replace="pageParts/footer :: footer"></div>

<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>

</body>

</html>