<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<head>
    <title>Create an account</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Briefkasten</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/createIdea">Create Idea</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ideas">List Ideas</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
        <form id="logoutForm" method="POST" th:action="@{/logout}">
        </form>
    <h2>Welcome <span th:text="${#authentication.getPrincipal().getUsername()}"></span> | <a
            onclick="document.forms['logoutForm'].submit()">Logout</a>
    </h2>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</body>