<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<head>
    <title>Create an account</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
        <form id="logoutForm" method="POST" th:action="@{/logout}">
        </form>
    <h2>Welcome <span th:text="${#authentication.getPrincipal().getUsername()}"></span> | <a
            onclick="document.forms['logoutForm'].submit()">Logout</a>
    </h2>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</body>