<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
</head>
<body>

<footer class="page-footer bg-dark fixed-bottom" th:fragment="footer">
    <div class="footer-copyright text-center text-secondary py-2">
        Ⓐ 2020 Copyright: Geile Typen GmbH

        <!-- TODO REMOVE ME HERE FOR DEBUGGING PURPOSE
        | Logged user: <span sec:authentication="name"></span> |
              Roles: <span sec:authentication="principal.authorities"></span> |-->
    </div>
</footer>

</body>
</html>