<!--Autor: JF-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{../css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" type="text/css"/>
</head>
<body>

<footer class="page-footer fixed-bottom bg-dark" th:fragment="footer">
    <div class="bg-white footer-margin">

    </div>
    <div class="footer-copyright text-secondary py-2 bg-dark ">
        <div class="float-right">
            Ⓐ 2020 Copyright: Geile Typen GmbH
        </div>
        <div class="float-left" sec:authorize="isAuthenticated()">
            [ Nutzer: <span sec:authentication="name"></span> , Rolle:
            <span sec:authorize="hasRole('ROLE_ADMIN')"> Administrator </span>
            <span sec:authorize="hasRole('ROLE_SPECIALIST')"> Spezialist </span>
            <span sec:authorize="hasRole('ROLE_USER')"> Nutzer </span>
            ]
        </div>
        <div class="float-left" sec:authorize="isAuthenticated()">
            <span><a th:href="@{/contact}">Kontaktformular</a></span>
        </div>
    </div>
</footer>

</body>
</html>