<!--Autor: JB-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand" href="/">
        <img alt="" class="d-inline-block align-top" height="30" src="/images/logo.png" width="30">
        Digitaler Briefkasten</a>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav">
            <li sec:authorize="hasRole('ROLE_ADMIN')"
                th:classappend="${#httpServletRequest.getRequestURI() == '/admin' ? 'active':''}">
                <a class="nav-link" href="/admin">Adminpanel</a>
            </li>
            <li sec:authorize="hasRole('ROLE_SPECIALIST')"
                th:classappend="${#httpServletRequest.getRequestURI() == '/specialist' ? 'active':''}">
                <a class="nav-link" href="/specialist">Ideen bewerten</a>
            </li>
            <li sec:authorize="hasRole('ROLE_USER')"
                th:classappend="${#httpServletRequest.getRequestURI()  == '/' ? 'active':
                                        (#httpServletRequest.getRequestURI()  == '/welcome' ? 'active': '')}">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li sec:authorize="isAnonymous()"
                th:classappend="${#httpServletRequest.getRequestURI()  == '/login' ? 'active':''}">
                <a class="nav-link" href="/">Login </a>
            </li>
            <li class="nav-item dropdown navbar-dark bg-dark"
                sec:authorize="isAuthenticated()"
                th:classappend="${#httpServletRequest.getRequestURI() == '/createIdea' ? 'active':''}">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#"
                   id="navbarDropdown1" role="button">
                    Idee erstellen
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu navbar-dark bg-dark">
                    <a class="nav-link navbar-dark bg-dark" href="/createIdea/internal">Interne Idee</a>
                    <a class="nav-link navbar-dark bg-dark" href="/createIdea/product">Produktidee</a>
                </div>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/ideas' ? 'active':''}">
                <a class="nav-link" href="/ideas">Ideen anschauen</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button class="btn btn-outline-danger my-2 my-sm-0"
                        onclick="document.forms['logoutForm'].submit()" sec:authorize="isAuthenticated()"
                        type="submit">
                    <a>Logout</a>
                </button>
                <form id="logoutForm" method="GET" th:action="@{/logout}">
                </form>
            </li>
        </ul>
    </div>
    <div class="ml-auto order-0">
        <a class="navbar-brand mr-0" href="#"></a>
        <button class="navbar-toggler" data-target=".dual-collapse2" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

</body>
</html>