<!--Autor: PR-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<th:block th:fragment="productIdea-styles">
    <link rel="stylesheet" th:href="@{../css/select2.min.css}" type="text/css"/>
</th:block>
<body>
<main class="container" th:fragment="product">
    <form action="#" th:object="${idea}">
        <h2 class="form-heading">
            <i class="mr-3 dblFontSize far fa-lightbulb"></i>
            <span th:utext="*{title}"></span></h2>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2" for="title">Titel</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="title" name="title"
                       readonly="true" th:value="*{title}" type="text">
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2"
                   for="description">Beschreibung</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <textarea class="form-control" form-rows="3" readonly="readonly" th:field="*{description}"></textarea>
            </div>

        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2"
                   for="productLine">Produktlinie</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <select class="form-control pre-select-all-options" disabled="disabled" id="productLine"
                        name="productLine">
                    <option th:text="*{productLine?.getTitle()}"
                            th:value="*{productLine?.getId()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2"
                   for="advantage_1">Vorteile</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="advantage_1" name="advantage_1"
                       readonly="true" th:value="*{advantages.size() >= 1} ? *{advantages.get(0).getDescription()} : ''"
                       type="text">
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10 offset-md-3 offset-lg-2 offset-xl-2">
                <input class="form-control" id="advantage_2" name="advantage_2"
                       readonly="true" th:value="*{advantages.size() >= 2} ? *{advantages.get(1).getDescription()} : ''"
                       type="text">
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10 offset-md-3 offset-lg-2 offset-xl-2">
                <input class="form-control" id="advantage_3" name="advantage_3"
                       readonly="true" th:value="*{advantages.size() >= 3} ? *{advantages.get(2).getDescription()} : ''"
                       type="text">
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2" for="targetGroups">
                Zielgruppen</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <select class="form-control-mul pre-select-all-options" disabled="disabled" id="targetGroups"
                        multiple="multiple" name="targetGroups">
                    <option th:each="targetGroup : *{targetGroups}"
                            th:text="${targetGroup.getTitle()}"
                            th:value="${targetGroup.getId()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2" for="distributionChannels">
                Vertriebskanäle</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <select class="form-control-mul pre-select-all-options" disabled="disabled"
                        id="distributionChannels"
                        multiple="multiple" name="distributionChannels">
                    <option th:each="distributionChannel : *{distributionChannels}"
                            th:text="${distributionChannel.getTitle()}"
                            th:value="${distributionChannel.getId()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2"
                   for="existsComparable">Existiert bereits Vergleichbares?</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input disabled="true" name="existsComparable" th:checked="${idea.isExistsComparable()}"
                       type="checkbox">
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2"
                   for="creator">Ersteller</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <select class="form-control pre-select-all-options" disabled="disabled" id="creator" name="creator">
                    <option th:text="*{creator?.getFirstName() + ' ' + creator?.getLastName()}"
                            th:value="*{creator?.getId()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2" for="creationDate">Erstellungsdatum</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="creationDate" name="creationDate"
                       readonly="true" th:value="*{#dates.format(creationDate, 'dd.MM.yyyy')}" type="text">
            </div>
        </div>
        <div class="form-group form-row" th:if="*{specialist}">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2" for="status">Zugewiesener
                Fachspezialist</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="specialist" name="Zugewiesener Fachspezialist"
                       readonly="true" th:value="*{specialist?.getUsername()}" type="text">
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2" for="status">Status</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="status" name="status"
                       readonly="true" th:value="*{status.getDisplayValue()}" type="text">
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2" for="statusJustification">Status-Begründung</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="statusJustification" name="statusJustification"
                       readonly="true" th:value="*{statusJustification}" type="text">
            </div>
        </div>
    </form>
</main>

<div th:fragment="productIdea-script">
    <script th:src="@{../js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{../js/select2.min.js}" type="text/javascript"></script>
    <script th:src="@{../js/prefillSelect2.js}" type="text/javascript"></script>
    <script th:src="@{../js/i18n/de.js}" type="text/javascript"></script>
    <script type="text/javascript">
        var output
        $(document).ready(function () {
            output = $('.form-control-mul').select2({
                language: "de"
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            prefillSelect2('select.pre-select-all-options');
        });
    </script>
</div>
</body>
</html>