<!--Autor: JB-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<head>
    <title>Create Idea</title>
    <link rel="stylesheet" th:href="@{../css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../css/select2.min.css}" type="text/css"/>
</head>

<!--TODO SOMETHING WITH THIS LINE IS BROKEN -> PRODUCES '{' ERROR IN WEB CONSOLE. PLEASE EVALUATE AND FIX ME-->
<body th:onload="${distributionChannels == null}? 'ensureTableContent()'; ${targetGroups == null}? 'ensureTableContent()'">
<div th:replace="pageParts/navbar :: navbar"></div>


<div class="container">
    <form action="#" class="form-createIdea" method="post" th:action="@{/createProduct}" th:object="${createIdea}">
        <h2 class="form-heading">Neue Produktidee erstellen</h2>
        <div class="form-group">
            <input class="form-control" id="title" name="Titel" placeholder="Titel" required="required"
                   th:field="*{title}"
                   type="text">
        </div>
        <div class="form-group">
            <textarea class="form-control" id="description" name="Beschreibung" placeholder="Beschreibung"
                      required="required"
                      rows="4"
                      th:field="*{description}"></textarea>
        </div>
        <p>Zielgruppe auswählen:</p>
        <div class="form-group row">
            <select class="form-control-mul" id="targetGroups" multiple="multiple" name="targetGroups"
                    required="required">
                <option th:each="targetGroup : ${targetGroups}"
                        th:text="${targetGroup.getTitle()}"
                        th:value="${targetGroup.getId()}"></option>
            </select>
        </div>
        <p>Vertriebskanal auswählen:</p>
        <div class="form-group row">
            <select class="form-control-mul" id="distributionChannel" multiple="multiple" name="distributionChannels">
                <option th:each="distributionChannel : ${distributionChannels}"
                        th:text="${distributionChannel.getTitle()}"
                        th:value="${distributionChannel.getId()}"></option>
            </select>
        </div>
        <p>Produktsparte auswählen:</p>
        <div class="form-group row">
            <select class="form-control" id="productLine" name="productLine" required="required">
                <option th:each="productLine : ${productLines}"
                        th:if="${productLine.getTitle()} != ${internalProductLine}"
                        th:text="${productLine.getTitle()}"
                        th:value="${productLine.getId()}"></option>
            </select>
        </div>

        <div class="form-check">
            <input name="existsComparable" th:checked="${existsComparable}" type="checkbox">
            <label class="form-check-label" for="existsComparable">Existiert bereits Vergleichbares (bei der
                Konkurrenz)?</label>
        </div>

        <p>Bis zu drei Vorteile eingeben:</p>
        <div class="form-group">
            <textarea class="form-control" id="advantages1" placeholder="Vorteil" rows="2"
                      th:field="*{advantages[0].description}"></textarea>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="advantages2" placeholder="Vorteil" rows="2"
                      th:field="*{advantages[1].description}"></textarea>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="advantages3" placeholder="Vorteil" rows="2"
                      th:field="*{advantages[2].description}"></textarea>
        </div>
        <button class="btn btn-dark btn-block" type="submit">Produkt-Idee erstellen</button>
    </form>

</div>
<div th:replace="pageParts/footer :: footer"></div>
<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/select2.min.js}" type="text/javascript"></script>
<script th:src="@{/js/i18n/de.js}" type="text/javascript"></script>
<script>
    var output
    $(document).ready(function () {
        output = $('.form-control-mul').select2({
            language: "de"
        });
    });
</script>
</body>

</html>