<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title th:text="${ideaToDecide.getTitle()}"></title>

    <link rel="stylesheet" th:href="@{../css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{../js/fontawesome.js}" type="text/javascript"></script>
</head>
<body>

<div th:replace="pageParts/navbar :: navbar"></div>

<div th:if="${ideaToDecide.class.name} == 'de.fhdw.geiletypengmbh.digitalerbriefkasten.persistance.model.ideas.InternalIdea'">
    <div th:replace="pageParts/internalIdea :: internal"></div>
</div>
<div th:if="${ideaToDecide.class.name} == 'de.fhdw.geiletypengmbh.digitalerbriefkasten.persistance.model.ideas.ProductIdea'">
    <div th:replace="pageParts/productIdea :: product"></div>
</div>

    <form action="#" class="form-createIdea" method="post"
          th:action="@{/api/ideas/decideIdea/{id}(id=${ideaToDecide.id})}" th:object="${ideaToDecide}">
        <h2 class="form-heading">Setzen und begründen Sie den neuen Status der Idee.</h2>

        <div class="form-group">
            <textarea class="form-control" id="statusJustification" name="statusJustification"
                      placeholder="Beschreibung" required="required"
                      rows="4"
                      th:field="${ideaToDecide.statusJustification}"></textarea>
        </div>
        <p>Neuen Status für Idee auswählen:</p>
        <div class="form-group row">
            <select class="form-control" id="status" name="status" required="required">
                <option th:each="status : ${T(de.fhdw.geiletypengmbh.digitalerbriefkasten.persistance.model.ideas.Status).values()}"
                        th:if="${status} !=
                            ${T(de.fhdw.geiletypengmbh.digitalerbriefkasten.persistance.model.ideas.Status).PENDING}
                            and ${status} !=
                             ${T(de.fhdw.geiletypengmbh.digitalerbriefkasten.persistance.model.ideas.Status).NOT_SUBMITTED}"
                        th:text="${status.getDisplayValue()}"
                        th:value="${status}"></option>
            </select>
        </div>

        <button class="btn btn-dark btn-block" type="submit">Entscheidung einreichen</button>
    </form>
</div>
<div th:replace="pageParts/footer :: footer"></div>

<script th:src="@{../js/jquery.js}" type="text/javascript"></script>
<script th:src="@{../js/bootstrap.min.js}" type="text/javascript"></script>
</main>
</body>
</html>