<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title th:text="${idea.getTitle()}"></title>

    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/select2.min.css}" type="text/css"/>
    <script th:src="@{/js/fontawesome.js}" type="text/javascript"></script>
    <script th:src="@{/js/prefillSelect2.js}" type="text/javascript"></script>
</head>
<body>

<div th:replace="pageParts/navbar :: navbar"></div>

<main class="container">
    <form action="#" th:action="@{/api/ideas/update/product/} + ${idea.getId()}" method="post" th:object="${idea}">
        <h2 class="form-heading">
            <i class="mr-3 dblFontSize far fa-lightbulb"></i>
            <span th:utext="*{title}"></span></h2>
        <div class="form-group form-row">
            <label for="title" class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Titel</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="title" name="title"
                       th:value="*{title}" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group form-row">
            <label for="description"
                   class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Beschreibung</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <textarea class="form-control" form-rows="3" th:field="*{description}"></textarea>
            </div>

        </div>
        <div class="form-group form-row">
            <label for="productLine"
                   class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Produktlinie</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <select class="form-control" id="productLine" name="productLine"
                        th:disabled="${idea.getStatus()} != ${T(de.fhdw.geiletypengmbh.digitalerbriefkasten.persistance.model.ideas.Status).NOT_SUBMITTED}">
                    <option th:each="productLine: ${productLines}"
                            th:value="${productLine.getId()}"
                            th:text="${productLine.getTitle()}"
                            th:selected="${productLine.getId()} == *{productLine.getId()}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group form-row">
            <label for="advantage_1"
                   class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Vorteile</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <textarea class="form-control" id="advantage_1" placeholder="Vorteil" rows="2"
                          th:field="*{advantages[0].description}"></textarea>
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10 offset-md-3 offset-lg-2 offset-xl-2">
                <textarea class="form-control" id="advantage_2" placeholder="Vorteil" rows="2"
                          th:field="*{advantages[1].description}"></textarea>
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10 offset-md-3 offset-lg-2 offset-xl-2">
                <textarea class="form-control" id="advantage_3" placeholder="Vorteil" rows="2"
                          th:field="*{advantages[2].description}"></textarea>
            </div>
        </div>
        <div class="form-group form-row">
            <label for="targetGroups" class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">
                Zielgruppen</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <select class="form-control-mul" id="targetGroups" name="targetGroups"
                        multiple="multiple">
                    <option th:each="targetGroup : ${targetGroups}"
                            th:value="${targetGroup.getId()}"
                            th:text="${targetGroup.getTitle()}"
                            th:selected="${idea.containsTargetGroup(targetGroup)}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group form-row">
            <label for="distributionChannels" class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">
                Vertriebskanäle</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <select class="form-control-mul" id="distributionChannels" name="distributionChannels"
                        multiple="multiple">
                    <option th:each="distributionChannel : ${distributionChannels}"
                            th:value="${distributionChannel.getId()}"
                            th:text="${distributionChannel.getTitle()}"
                            th:selected="${idea.containsDistributionChannel(distributionChannel)}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group form-row">
            <label for="creator"
                   class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Ersteller</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <select class="form-control" id="creator" name="creator" disabled="disabled">
                    <option th:value="*{creator?.getId()}"
                            th:text="*{creator?.getUsername()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group form-row">
            <label for="creationDate" class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Erstellungsdatum</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="creationDate" name="creationDate"
                       th:value="*{creationDate}" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group form-row">
            <label for="status" class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Status</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="status" name="status"
                       th:value="*{status}" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group form-row">
            <label for="statusJustification" class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Status-Begründung</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="statusJustification" name="statusJustification"
                       th:value="*{statusJustification}" type="text" readonly="readonly">
            </div>
        </div>
            <button class="btn btn-dark btn-block" type="submit">Idee aktualisieren</button>
    </form>

    <form action="#" class="form-submitIdea" method="POST" th:action="@{/api/ideas/submitIdea}" th:object="${idea}">
        <input type="hidden" class="form-control" id="id" name="id"
               th:value="*{id}" readonly="readonly">
        <div class="form-group">
            <button class="btn btn-dark btn-block mt-2" type="submit">Idee einreichen</button>
        </div>
    </form>

    <div th:replace="pageParts/footer :: footer"></div>

    <script th:src="@{/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/select2.min.js}" type="text/javascript"></script>
    <script th:src="@{../js/i18n/de.js}" type="text/javascript"></script>
    <script type="text/javascript">
        var output
        $(document).ready(function () {
            output = $('.form-control-mul').select2({
                    language: "de"
                }
            );
        });
    </script>
</main>
</body>
</html>