<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title th:text="${idea.getTitle()}"></title>

    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/select2.min.css}" type="text/css"/>
    <script th:src="@{/js/fontawesome.js}" type="text/javascript"></script>
    <script th:src="@{/js/prefillSelect2.js}" type="text/javascript"></script>
</head>
<body>

<div th:replace="pageParts/navbar :: navbar"></div>

<main class="container">
    <form action="#" method="post" th:action="@{/updateIdea/product/} + ${idea.getId()}" th:object="${idea}">
        <h2 class="form-heading">
            <i class="mr-3 dblFontSize far fa-lightbulb"></i>
            <span th:utext="*{title}"></span></h2>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2" for="title">Titel</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="title" name="title"
                       readonly="readonly" th:value="*{title}" type="text">
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2"
                   for="description">Beschreibung</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <textarea class="form-control" form-rows="3" th:field="*{description}"></textarea>
            </div>

        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2"
                   for="productLine">Produktlinie</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <select class="form-control" id="productLine" name="productLine"
                        th:disabled="${idea.getStatus()} != ${T(de.fhdw.geiletypengmbh.digitalerbriefkasten.persistance.model.ideas.Status).NOT_SUBMITTED}">
                    <option th:each="productLine: ${productLines}"
                            th:selected="${productLine.getId()} == *{productLine.getId()}"
                            th:text="${productLine.getTitle()}"
                            th:value="${productLine.getId()}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2"
                   for="advantage_1">Vorteile</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <textarea class="form-control" id="advantage_1" placeholder="Vorteil" rows="2"
                          th:field="*{advantages[0].description}"></textarea>
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10 offset-md-3 offset-lg-2 offset-xl-2">
                <textarea class="form-control" id="advantage_2" placeholder="Vorteil" rows="2"
                          th:field="*{advantages[1].description}"></textarea>
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10 offset-md-3 offset-lg-2 offset-xl-2">
                <textarea class="form-control" id="advantage_3" placeholder="Vorteil" rows="2"
                          th:field="*{advantages[2].description}"></textarea>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2" for="targetGroups">
                Zielgruppen</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <select class="form-control-mul" id="targetGroups" multiple="multiple"
                        name="targetGroups">
                    <option th:each="targetGroup : ${targetGroups}"
                            th:selected="${idea.containsTargetGroup(targetGroup)}"
                            th:text="${targetGroup.getTitle()}"
                            th:value="${targetGroup.getId()}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2" for="distributionChannels">
                Vertriebskanäle</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <select class="form-control-mul" id="distributionChannels" multiple="multiple"
                        name="distributionChannels">
                    <option th:each="distributionChannel : ${distributionChannels}"
                            th:selected="${idea.containsDistributionChannel(distributionChannel)}"
                            th:text="${distributionChannel.getTitle()}"
                            th:value="${distributionChannel.getId()}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2"
                   for="existsComparable">Existiert bereits Vergleichbares?</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input type="checkbox" name="existsComparable" th:checked="${idea.isExistsComparable()}">
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2"
                   for="creator">Ersteller</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <select class="form-control" disabled="disabled" id="creator" name="creator">
                    <option th:text="*{creator?.getFirstName() + ' ' + creator?.getLastName()}"
                            th:value="*{creator?.getId()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2" for="creationDate">Erstellungsdatum</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <select class="form-control" disabled="disabled" id="creationDate" name="creationDate">
                    <option th:text="*{#dates.format(creationDate, 'dd.MM.yyyy')}"
                            th:value="*{creationDate}"></option>
                </select>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2" for="status">Status</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="statusDisplayValue" name="statusDisplayValue"
                       readonly="readonly" th:value="*{status.getDisplayValue()}" type="text">
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2" for="statusJustification">Status-Begründung</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="statusJustification" name="statusJustification"
                       readonly="readonly" th:value="*{statusJustification}" type="text">
            </div>
        </div>
        <button class="btn btn-dark btn-block" type="submit">Idee aktualisieren</button>
    </form>

    <!--TODO I NEED A BACK BUTTON   -->

    <div th:replace="pageParts/footer :: footer"></div>

    <script th:src="@{/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/select2.min.js}" type="text/javascript"></script>
    <script th:src="@{../js/i18n/de.js}" type="text/javascript"></script>
    <script type="text/javascript">
        var output
        $(document).ready(function () {
            output = $('.form-control-mul').select2({
                    language: "de"
                }
            );
        });
    </script>
</main>
</body>
</html>