<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title th:text="${idea.getTitle()}"></title>

    <link rel="stylesheet" th:href="@{../css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{../js/fontawesome.js}" type="text/javascript"></script>
</head>
<body>

<div th:if="${idea.class.name} == 'de.fhdw.geiletypengmbh.digitalerbriefkasten.persistance.model.ideas.InternalIdea'">
    <div th:replace="pageParts/internalIdea :: internal"></div>
</div>
<div th:if="${idea.class.name} == 'de.fhdw.geiletypengmbh.digitalerbriefkasten.persistance.model.ideas.ProductIdea'">
    <div th:replace="pageParts/productIdea :: product"></div>
</div>

<div class="container">
    <button class="btn btn-dark btn-block" onclick="history.back()">Zurück gehen</button>
</div>

<div th:replace="pageParts/footer :: footer"></div>

<script th:src="@{../js/jquery.js}" type="text/javascript"></script>
<script th:src="@{../js/bootstrap.min.js}" type="text/javascript"></script>
</main>
</body>
</html>