<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title th:text="${idea.getTitle()}"></title>

    <link rel="stylesheet" th:href="@{../css/common.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{../js/fontawesome.js}" type="text/javascript"></script>
</head>
<body>

<div th:replace="pageParts/navbar :: navbar"></div>

<main class="container">
    <form action="#" th:object="${idea}">
        <h2 class="form-heading">
            <i class="mr-3 dblFontSize fas fa-sitemap"></i>
            <span th:utext="*{title}"></span></h2>
        <div class="form-group form-row">
            <label for="title" class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Titel</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="title" name="title"
                       th:field="*{title}" type="text" readonly="true">
            </div>
        </div>
        <div class="form-group form-row">
            <label for="description"
                   class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Beschreibung</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <textarea class="form-control" id="description" form-rows="3"
                          th:field="*{description}" readonly="true"></textarea>
            </div>

        </div>
        <div class="form-group form-row">
            <label for="productLine"
                   class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Produktlinie</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="productLine" name="productLine"
                       th:value="*{productLine?.getTitle()}" type="text" readonly="true">
            </div>
        </div>
        <div class="form-group form-row">
            <label for="advantage_1"
                   class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Vorteile</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="advantage_1" name="advantage_1"
                       type="text" readonly="true"
                       th:value="*{advantages.size() >= 1} ? *{advantages.get(0).getDescription()} : ''">
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10 offset-md-3 offset-lg-2 offset-xl-2">
                <input class="form-control" id="advantage_2" name="advantage_2"
                       type="text" readonly="true"
                       th:value="*{advantages.size() >= 2} ? *{advantages.get(1).getDescription()} : ''">
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10 offset-md-3 offset-lg-2 offset-xl-2">
                <input class="form-control" id="advantage_3" name="advantage_3"
                       type="text" readonly="true"
                       th:value="*{advantages.size() >= 3} ? *{advantages.get(2).getDescription()} : ''">
            </div>
        </div>
        <div class="form-group form-row">
            <label for="field" class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Einsatzort</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="field" name="field"
                       th:value="*{field?.getTitle()}" type="text" readonly="true">
            </div>
        </div>
        <div class="form-group form-row">
            <label for="creator"
                   class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Ersteller</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="creator" name="creator"
                       th:value="*{creator?.getUsername()}" type="text" readonly="true">
            </div>
        </div>
        <div class="form-group form-row">
            <label for="creationDate" class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Erstellungsdatum</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="creationDate" name="creationDate"
                       th:value="*{creationDate}" type="text" readonly="true">
            </div>
        </div>
        <div class="form-group form-row">
            <label for="status" class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Status</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="status" name="status"
                       th:value="*{status}" type="text" readonly="true">
            </div>
        </div>
        <div class="form-group form-row">
            <label for="statusJustification" class="col-form-label col-xs-12- col-sm-12 col-md-3 col-lg-2 col-xl-2">Status-Begründung</label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
                <input class="form-control" id="statusJustification" name="statusJustification"
                       th:value="*{statusJustification}" type="text" readonly="true">
            </div>
        </div>


    </form>

    <div th:replace="pageParts/footer :: footer"></div>

    <script th:src="@{../js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{../js/bootstrap.min.js}" type="text/javascript"></script>
</main>
</body>
</html>